.carousel
    padding: 81px 0
    &__inner
        width: 750px
        margin: 0 auto
    .prev, .next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0px
        border: none
        background: none
        img
            width: 31px
            height: 50px
    .next
        right: 0px
        left: auto
    .tns-item
        img
            max-width: 100%
            display: block
            margin: 0 auto
