@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/MuseoSansCyrl-100.woff') format('woff');
    font-weight: light;
    font-style: light;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: regular;
    font-style: regular;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: extra bold;
    font-style: extra bold;
}
