.promo {
  min-height: 650px;
  padding: 21px 0px 93px 0px;
  background: url("../img/main-bg.jpg") center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 91px;
}
.promo__header {
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.promo__subheader {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  width: 425px;
}
.promo__icon {
  width: 136px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
.promo__link a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
}
.header__phone {
  color: #FFF;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-decoration: none;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.advantages {
  min-height: 473px;
  background-color: #F6F6F6;
  padding: 63px 0 75px 0;
}
.advantages__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.advantages__icon {
  max-width: 70px;
}
.advantages__icon img {
  width: 100%;
}
.advantages__wrapper {
  text-align: center;
  width: 275px;
}
.advantages__header-text {
  margin-top: 30px;
  color: #0D0D0D;
  font-size: 18px;
  font-weight: 700;
}
.advantages__text {
  margin-top: 20px;
  color: #0D0D0D;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.advantages__text span {
  color: #F00;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 95px 0;
  background: url("../img/second-bg.jpg") center center/cover no-repeat;
}
.consultation__descr {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  padding-top: 50px;
}

.button {
  width: 153px;
  height: 32px;
  background: #c70101;
  border-radius: 5px;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 67px;
}
.button_submit {
  width: 100%;
  height: 58px;
  border-radius: 5px;
  font-size: 16px;
}

.titles {
  color: #0D0D0D;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.titles_left {
  color: #FFF;
  font-size: 36px;
  line-height: 54px;
  text-align: left;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  background-color: #fff;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  padding: 0 20px;
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  height: 530px;
  margin: 0 auto;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background: #fff;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  right: -66px;
  left: auto;
}

@media (max-width: 1024px) {
  .promo {
    padding: 21px 5px 93px 5px;
  }

  .advantages {
    padding: 63px 5px 75px 5px;
  }

  .consultation {
    padding: 100px 5px 95px 5px;
  }
}
@media (max-width: 768px) {
  .header__phone {
    font-size: 16px;
  }
  .header__official {
    font-size: 12px;
  }
  .header__official span {
    font-size: 14px;
  }

  .button_header {
    width: 140px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__header {
    text-align: center;
    font-size: 32px;
  }
  .promo__subheader {
    text-align: center;
    font-size: 20px;
  }

  .advantages_col-wrapper {
    display: block;
  }
  .advantages_wrapper-col1 {
    width: calc(50% - 10px);
    float: left;
  }
  .advantages_wrapper-col2 {
    width: calc(50% - 10px);
    float: right;
  }
  .advantages_wrapper-col3 {
    width: 50%;
  }
  .advantages__icon {
    margin-top: 20px;
  }
  .advantages__header-text {
    font-size: 16px;
  }

  .titles_fontsize {
    font-size: 26px;
  }
  .titles_left {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }

  .consultation__descr {
    text-align: center;
  }

  .feed-form {
    margin: 0 auto;
    margin-top: 36px;
  }
}
* {
  font-family: "MuseoSansCyrl", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */